name: Testing

on:
  push:
    branches: [ main, dev, feature/* ]
  pull_request:
    branches: [ main ]


jobs:

  test:
    strategy:
      max-parallel: 6
      matrix:
        go-version: [ 1.23, 1.24 ]
        platform: [ ubuntu-latest, macos-latest, windows-latest ]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Install Go on the Container
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test the Go code
        run: go test -v ./...