name: Testing

on:
  push:
    branches: [ main, dev, feature/* ]
  pull_request:
    branches: [ main ]


jobs:

  test:
    strategy:
      max-parallel: 6
      matrix:
        go-version: [ 1.23, 1.24 ]
        platform: [ ubuntu-latest, macos-latest, windows-latest ]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4

      - name: Install Go on the Container
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test the Go code
        run: go test -v ./...